{% load static %}
{% include 'admin_app\administration\administration.html' %}
<div class="content" >
    <div class="box">
        <ul>
            <li id="qui">enseignant</li>
            <li><form action=""><input type="text" name="chercher"><button type="submit"><i class="fa-brands fa-searchengin"></i></button> </form></li>
        </ul>
        <div ><a href="{% url 'AjouterEnseignant' %}" class="ajouter">ajouter <i class="fa-solid fa-plus"></i> </div></a>   
    </div>
</div>
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Nb.ModelEnseigne</th>
        <th>Supprimer</th>
        <th>Modifier</th>
    </tr>
</thead>
<tbody>
   
{% for enseignant in enseignants %}
    <tr>
        <td>{{enseignant.idTeacher}} </td>
        <td>{{enseignant.last_name}}</td>
        <td>{{enseignant.first_name}}</td>
        <td>{{enseignant.email}}</td>
        <td></td>
        <td ><i class="fa-solid fa-trash"  onclick='confirmSupprimer("{{ enseignant.idTeacher }}");'></i></td>
        <td><a href="{% url 'ModifierEnseignant' enseignant.idTeacher %}"><i class="fas fa-pencil-alt"></a></i></td>
    </tr>
{% endfor %}
</tbody>
</table>
<script>
    function confirmSupprimer(teacherId) {
        if (confirm("Êtes-vous sûr de vouloir supprimer cet enseignant ?")) {
            window.location.href = "{% url 'SupprimerEnseignant' 0 %}".replace('0', teacherId);
        }
    }
    </script>
<script src="{% static 'js/administrateur.js' %}" ></script> 