{% include 'admin_app\administration\administration.html' %}
<div class="content">
    <div class="box">
        <ul>
            <li id="qui">Etudiant</li>
            <li><form action=""><input type="text" name="chercher"><button type="submit"><i class="fa-brands fa-searchengin"></i></button> </form></li>
        </ul>
        <div class="ajouter"><a href="{% url 'ajouterEtudiant' %}">ajouter</a> <i class="fa-solid fa-plus"></i> </div>
        
    </div>
</div>

<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Filière</th>
        <th>ajouter</th>
        <th>Supprimer</th>
    </tr>
</thead>
<tbody>
    {% for e in etudiants %}
    <tr>
        <td>{{e.idStudent}}</td>
        <td>{{e.codeMassar}}</td>
        <td>{{e.first_name}}</td>
        <td>{{e.last_name}}</td>
        <td>{{e.filiere.nom_filiere}}</td>
        <td>{{e.niveau}}</td>
        <td >  <i class="fa-solid fa-trash"></i></td>
        <td><a href="#"><i class="fas fa-pencil-alt"></a></i>
        </td>
    </tr>
    {% endfor %}
    
</tbody>
</table>